<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OffBeat.PM</title>

    <link rel="stylesheet" href="~/multiselect/example-styles.css" />
    <link rel="stylesheet" href="~/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/img/favicon-16x16.png">
    <link rel="icon" href="~/img/icon.png">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo1.png" alt="logo icon">
                    OffBeat.PM
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">Teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Index">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="Index">Members</a>
                        </li>



                    </ul>
                    @if (!User.Identity.IsAuthenticated)
                    {
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="btn btn-outline-primary" asp-action="Login" asp-controller="Account">Login</a>
                        </li>
                    </ul>
            }
            else
            {
                <ul class="nav justify-content-end">
                    <li>
                        <span>Welcome @User.Identity.Name</span>
                        <a class="btn btn-outline-danger" asp-action="Logout" asp-controller="Account">Logout</a>
                    </li>
                </ul>
            }
                </div>

                @*<a class="btn btn-outline-primary" asp-action="Login" asp-controller="User">Login</a>*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - OffBeat.PM - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.esm.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/multiselect/jquery.multi-select.js"></script>


    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>

