@{
    ViewData["Title"] = "NotFound Page";
}
<div class="text-center">
    <h1 class="display-4">Not Found</h1>
    <p>@ViewBag.ErrorMessage<a asp-action="Index" asp-controller="Home">Return to Home page.</a></p>
</div>