@model ProjectManager.Web.ViewModels.MemberIndexViewModel

@{
    ViewData["Title"] = "Members Page";
}

<div class="card">

    <h4 class="card-title" style="margin-left:1.25rem; margin-top:1.25rem;">
        <strong>@ViewData["Title"]</strong>
    </h4>

    <div class="card-body">
        <div>
            <a class="btn btn-primary" asp-action="CreateMember">Add Member</a>
        </div>
        <hr />
        <table class="table">
            <thead>
                <tr class="col-12">
                    <th class="col-5 text-left">Name</th>
                    <th class="col-5 text-left">Email</th>
                    <th class="text-right col-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model.Members)
                {
                    <tr>
                        <td>@member.Name</td>
                        <td>@member.Mail</td>
                        <td class="text-right">
                            <a class="btn btn-info">Edit</a>
                            <a class="btn btn-danger" asp-action="DeleteMember" asp-route-id="@member.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>

